.card-img-historico {
    width: 100%;
    height: 160px;
    object-fit: scale-down;
}

.titulo-card-servicoContratado {
    font-weight: bold;
}

.star {
    color: gray;
    font-size: 1.3em;
}

.star.filled {
    color: rgb(253, 215, 0);
}