.header {
  background-color: #1648b6;
  color: #fff;
  min-height: 100vh;
  padding: 0;
}

.logoDash{
  width: 100%;
  height: 80px;
  object-fit: scale-down;
}

.sidebar {
  text-align: center;
}

.sidebar-link {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color:#ff8bf5;
  color: #020202;
}

.sidebar-link.active {
  background-color:#ff3fef; /* Cor mais escura para o item ativo */
  color: #fff; /* Cor do texto para o item ativo */
}

.header select{
  text-align: center;
  color: #fff !important;
  background-color: #2a5dca !important;
  border-style: none !important;
  border: none !important;
}

.header select:hover,
.header select:focus,
.header select:active,
.header select:checked{
  background-color:#ff8bf5 !important;
  color: #000 !important;
}
