/* FooterMenu.css */
.footer-menu {
    justify-content: center;
    height: 80px;
    background-color: #1648b6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.footer-menu select{
    text-align: center;
    color: #fff !important;
    background-color: #2a5dca !important;
    border-style: none !important;
    border: none !important;
  }
  
  .footer-menu select:hover,
  .footer-menu select:focus,
  .footer-menu select:active,
  .footer-menu select:checked{
    background-color:#ff8bf5 !important;
    color: #000 !important;
  }
  